:root{
   --font-color: 000000;
   --bg-color: d3d3d3;
}
.float1{
  float: right;
}
a:link{
   color: var(--font-color);
}
a:hover{
  color: darkcyan;
}
tr:nth-child(1){
    background-color: grey;
}
tr:nth-child(2){
    background-color: cadetblue;
}
table, td{
    border: 1px solid black;
}
p, h1, h2, h3, ul, ol, li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background-color: var(--bg-color);
}
