:root{
   --font-color: black;
   --bg-color: d3d3d3;
}
.float1{
  float: right;
}
a:link{
   color: var(--font-color);
}
a:hover{
  color: darkcyan;
}
body {
  background-color: var(--bg-color);
}
table:nth-child(td){
    background-color: cadetblue;
}
table, td{
    border: 1px solid black;
}
